@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@layer components {
  .pixel-window {
    @apply relative text-slate-200;
    /* margin: 40px; */
    box-shadow:
      /* Inner Light Border*/
      -3px 0 0 0 #475569, 
      3px 0 0 0 #475569, 
      0 -3px 0 0 #475569, 
      0 3px 0 0 #475569,
      /* Outer Dark Border */
      -6px 0 0 0 #1d295c72, 
      6px 0 0 0 #1d295c72, 
      0 -6px 0 0 #1d295c72, 
      0 6px 0 0 #1d295c72;
  }
}

.pixel-grid {
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background-image: 
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.01) 10px,
      rgba(255,255,255,0.01) 10px,
      transparent 3px,
      transparent 3px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255,255,255,0.01) 0px,
      rgba(255,255,255,0.01) 1px,
      transparent 5px,
      transparent 4px
    );
}


.matrix-box {
  background: transparent;
}

.matrix-column {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  font-family: monospace;
  font-size: 18px;
  color: #00ff99;
  text-shadow: 0 0 8px rgba(0, 255, 150, 0.8);
  user-select: none;
  white-space: nowrap;
  pointer-events: none;
}
